@import '../src/app/variables.scss';

.rowGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.search{
    width: 35%;
    padding: 10px 20px;
    border-radius: 100px;
    border: solid 2px $beige;
    position: relative;
    display: block;
    &:focus{
        
        outline: none;
    }
}
