/**MIXIN**/
@import "variables.scss";

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $background;
}
.slide {
    width: 100%;
    min-height: 100vh;
    position: relative;
    @media (max-width: 992px) {
      min-height: auto;
      }
      
}
.wrapper {
    width: 85%;
    margin: 0 auto;
}
.icon {
    width: 16px;
}
.circle{
    @include round();
    z-index: 5;

    position: absolute;
    top: -2%;
    left: -2%;
    width: 80px;
    height: 80px;
}
/***HOME***/
#home {
    .block-home {
        min-height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: 650px) {
           min-height: 800px;
        }
        
        .jumbotron {
            width: 45%;
            display: flex;
            flex-direction: column;
            @media (max-width: 650px) {
                width: 100%;
                margin-top: 70px;
                
            }
            
            gap: 20px;
            h1 {
                font-size: 48px;
                text-transform: uppercase;
                font-weight: bold;
                position: relative;
                z-index: 2;

                &::after {
                    content: "";
                    @include round();
                    position: absolute;
                    top: 0;
                    left: -2%;
                    width: 60px;
                    height: 60px;
                    z-index: -1;
                }
            }
            p {
                line-height: 2em;
            }
           
        }
        justify-content: space-between;
        .block-right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            @media (max-width: 650px) {
                width: 100%;
            }
            .pic_rectangle {
                width: 55%;
                height: 400px;
                @media (max-width: 650px) {
                    width: 70%;
                 margin-top: 40px;
                }
                background-color: $beige;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    @include round();
                    top: -17%;
                    left: -17%;
                }
                &::after {
                    content: "";
                    position: absolute;
                    @include round();
                    top: 100%;
                    right: -20%;
                 
                }
                @include flexCenter();
                .picBook {
                    object-fit: contain;
                }
            }
        }
    }
}
.link_more {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .button_anim {
        color: $black;
        position: relative;
        padding: 15px 60px;
        text-transform: uppercase;
        z-index: 2;
        text-decoration: none;
        transition: all 1s;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 55%;
            width: 50px;
            height: 50px;
            transition: transform 1s;
            border-radius: 100%;
            transform-origin: left;
            transition: transform 1s;
            background-color: $beige;
            text-decoration: none;
            z-index: -1;
        }

        &:hover::after {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            width: 162px;
            height: 50px;
            border-radius: 20px;
            color: white;
            transition: all 1s;
            transform: scaleX(1);
            background-color: $beige;
            text-decoration: none;
            z-index: -1;
        }

        &:not(:hover)::after {
            transition: all 1s;
        }
        &:hover span {
            opacity: 1;
        }
    }
    span {
        opacity: 0;
        z-index: 2;
        transition: all 1s;
        color: $black;
    }
}
.link_books{
    width: 100%;
    display: flex;
    justify-content: center;
    .buttonBooks{
        background-color: $beige;
        color: $black;
        padding: 15px 20px;
        text-decoration: none;
        margin: 40px 0;
        transition: all 0.2s;
        &:hover{
            border-radius: 100px;
            background-color: $black;
            color: $beige;
            transform: translateY(-20px);
        }
    }
    #presentation &{
        justify-content: start;
        display: flex;
        width: 100%;
    }
}
.bandeau{
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: $beige;
    p{
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0;
        &:nth-child(1){
            font-size: 40px;
            
        }
        &:nth-child(2){
            font-size: 20px;
        }
    }
}
@media (max-width: 768px) {
  .bandeau {
    flex-direction: column;
  }

  .pic_rectangle {
    width: 80%;
  }
}
#circle_bottom{
    @media (max-width: 768px) {
      display: none;
      }
}
.subtitle{
    margin: 40px 0;
    position: relative;
    font-size: 30px;
    &::after{
        @include round();
        content: "";
        position: absolute;
        top: -27%;
        right: 79%;
        z-index: -5;
      }
}


.row{
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    @media (max-width: 790px) {
        grid-template-columns: repeat(2,1fr);
       grid-gap: 40px;
       place-items: center;
     }
    @media (max-width: 492px) {
        grid-template-columns: repeat(1,1fr);
     }
     #books &{
        grid-gap:50px
     }
}
.bookview{
    text-decoration: none;
    color: $black;
    text-decoration: none;
    width: 85%;
    // margin: 0 auto;
    @include flexCenterColumn();
    align-items: start;
    line-height: 1.5rem;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(1.02) translateY(-5px);

    }
p{
    margin: 2px 0;
}
.picBookView{
    position: relative;
    padding: 10px 0;
    margin: 0 auto;
    &::before{
        content: '';
        width: 100px;
        height: 150px;
        background-color: $beige;
        position: absolute;
        top: -5%;
        right: 47%;
        z-index: -2;
    }
}
}
#presentation{
    #subPresentation{
        margin-top: 100px ;
    }
    .block-flex{
        display: flex;
        width: 100%;
        @media (max-width: 1024px) {
           flex-direction: column;
            }
       min-height: calc(100vh - 200px);
       justify-content: center;
        align-items: center;
        .left{
            width: 70%;
            @media (max-width: 1024px) {
            width: 100%;
             @include flexCenterColumn();
             margin-bottom: 50px ;
             }
            .jumbotronPres{
                p{
                    width: 75%;
                    line-height: 2rem;
                    margin: 20px 0;
                    @media (max-width: 1024px) {
             width: 100%;
             }
                }
                .link{
                    margin-top: 50px;
                    display: block;
                    text-decoration: none;
                        color: $black;
                        font-weight: 500;
                        padding: 20px 40px;
                        background-color: $beige;
                        transition: all 0.2s;
                        &:hover{
                            background-color: $black;
                            color: $beige;
                        }
                    
                }
            }
           .rowButton{
            width: 100%;
            display: flex;
           }
        }
        .right{
            width: 30%;
            @media (max-width: 1024px) {
           display: flex;
           justify-content: center;
           width: 100%;
                }
            .boxPic{
                width: 300px;
                height: 300px;
                border-radius: 100%;
                background-color: $beige;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

#books{
    #titlebooks{
        margin-top: 100px;
        position: relative;
        &::after{
            position: absolute;
            top: -27%;
            left: -1%;
            z-index: -5;
          }

    }
}

#bookpres{
    h2{
        margin-top: 100px;
    }
    .block-book{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .left{
            width: 20%;
            @media (max-width: 790px) {
                width: 100%;
                 }

        }
        .right{
            width: 50%;
            @media (max-width: 790px) {
                width: 100%;
                 }
        }
        p{
            margin: 20px 0;
        }
    }
    article{
        margin: 20px 0;
        p,br{
            line-height: 2rem;
            margin: 15px 0;
        }
    }

}

#contact{
    @media (max-width: 992px) {
      .wrapper{
        width: 100%;
      }
        }
    .block-contact{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      gap: 120px;
      @media (max-width: 992px) {
      gap: 20px;
        }
        .left{
            width: 60%;
            @media (max-width: 992px) {
                order: 2;
                width: 100%;
                &:nth-child(1){
                    min-height: 100px;
                }
                }
           iframe{
            width: 100%;
            border: none;
            min-height: 500px;
            @media (max-width: 992px) {
                min-height: 250px;
                }
           }
        }
        .right{
            width: 30%;
            @media (max-width: 992px) {
               width: 85%;
               margin: 0 auto;
               order: 1;
                }
        }
    }
    h2{
        margin-top:100px;
    }
    .circlesvg{
        width: 50px;
        height: 50px;
        background-color: $black;
        border-radius: 100%;
        @include flexCenter();
        svg{
            stroke: $beige;
            fill: $beige;
            height: 25px;
           
        }
    }
    p{
        margin: 20px 0;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        gap: 20px;
    }
    #link{
        display: flex;
        width: 100%;
        justify-content: start !important;
    }
}


.rowGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.search{
    width: 35%;
    padding: 10px 20px;
    border-radius: 100px;
    border: solid 2px $beige;
    position: relative;
    display: block;
    @media (max-width: 992px) {
        width: 85%;
        margin: 0 auto;
        order: 1;
         }
    
    &:focus{
        
        outline: none;
    }
}
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  .page-enter {
    opacity: 0;
    transform: translateY(50%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms, transform 500ms;
  }
  
  .page-exit {
    opacity: 1;
  }
  
  .page-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  footer{
    width: 100%;
    min-height: 85px;
    @include flexCenter();
    color: $beige;
    background-color: $black;
    margin-top: 20px;
  }

  .sort {
    padding: 8px 15px; /* Augmenter légèrement la taille du padding */
    border-radius: 10px;
    background-color: $beige;
    border: none;
    cursor: pointer; 
    option {
        padding: 8px 15px; 
        display: block;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        margin: 0;
        :hover {
          background-color: $black ;
          color: $black !important;
        }
      }
      
  }
  
  