/**MIXIN**/
@import 'variables.scss';

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $background;
}
.slide{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
}